<!doctype html>
<html>
<head>
  <title>| Password Checker |</title>
</head>
<body>
  <form action='/check' method='POST'>
    <input type='email' name='email' placeholder='email@email.com'>
    <input type='text' name='password' placeholder='password'>
   
    <button type='submit' name='operation' value='check'>Check</button>
 </form>
</body>
</html>