
<!doctype html>
<html>
<head>
  <title>| Movie Quiz |</title>
</head>
<body>

    <p> Welcome to the Movie Lovers App!! </p>
    <p> Choose a word to show 9 movies that match that search term </p>

  <form action='/new_quiz' method='POST'>
    <input type='text' name='word' placeholder ='Choose a word'>  
   
    <button type='submit' name='operation' value='check'>Search</button>
 </form>

</body>
</html>