
<!doctype html>
<html>
<head>
  <title>| Sinatra Blog |</title>
</head>
<body>

    <p> Welcome to the Movie Lovers App!! </p>
    <br></br>
    <p> The word is incorret. Try again. </p>

  <a href='/try_again' name='operation' value='try_again' style="
    margin: 20px;
    display: block;
    width: 70px;
    background: #4E9CAF;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
">Try Again</a>



</body>
</html>